.jumbotron{
    background: url('images/background.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
}

.lilly{
    padding: 0 5px 0 5px;
}

.navbar.scrolled{
    background-color: red;
    transition: background 500ms;
}

